.cadre .mainContent .homePageContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.cadre .mainContent .homePageContent .title{
    font-size: 24px ;
}

.cadre .mainContent .homePageContent .desc{
    font-size: 14px;
}

.cadre .mainContent .homePageContent .desc span{
    font-weight: 700;
}

.cadre .mainContent .homePageContent .desc span.red{
    color: var(--third-light-color);
}

.cadre .mainContent .homePageContent .desc span.blue{
    color: var(--first-light-color);
}

.cadre .mainContent .homePageContent .desc span.green{
    color: var(--second-light-color);
}