body{
    background-color: var(--main-color);
    padding: 10px 45px 45px 45px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Switch buttons */

.switchContainer{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.switchContainer .langue{
    font-family: var(--title-font);
    font-size: 14px;
    transition: transform .2s ease-in-out;
}

.switchContainer .langue:hover{
    transform: scale(1.1);
}

:root {
    --toggle-height:19px;
}

.switchContainer .toggleContainer{
    background-color: var(--main-color);
    box-shadow:  0px 0px 4px 2px #00000048 inset,  0px 0px 100px 11px #0000004b inset;
    aspect-ratio: 2.5/1;
    height: var(--toggle-height);
    border-radius: 50px;
    padding: 3px;
    display: flex;
    cursor: pointer;
    overflow: hidden;
}


.switchContainer .iconContainer{
    background-color: var(--main-color);
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50px;
    position: relative;
    
}

/* Page */

.cadre{
    border: 2px var(--second-color) solid;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.cadre .menuBurgerContainer{
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-self: end;
}

.cadre .menuBurgerContainer .ring{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    transition: border-width .1s ease;
}

.cadre .menuBurgerContainer .ring:nth-child(1),
.cadre .menuBurgerContainer .ring:nth-child(5),
.cadre .menuBurgerContainer .ring:nth-child(9) {
  border: solid 2px var(--third-light-color);
}

.cadre .menuBurgerContainer .ring:nth-child(2),
.cadre .menuBurgerContainer .ring:nth-child(6),
.cadre .menuBurgerContainer .ring:nth-child(7) {
  border: solid 2px var(--first-light-color);
}

.cadre .menuBurgerContainer .ring:nth-child(3),
.cadre .menuBurgerContainer .ring:nth-child(4),
.cadre .menuBurgerContainer .ring:nth-child(8) {
  border: solid 2px var(--second-light-color);
}

.cadre .menuBurgerContainer:hover .ring{
    border-width: 5px;
}

.cadre .mainContent{
    position: relative;
    flex: 1;
    align-self: center;
}

.cadre .mainContent .menuLinks{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    right: 200%;
    transition: right .6s ease-in-out;
}

@media (max-width: 800px){
    .cadre .mainContent .menuLinks{
        padding-left: 70px;
    }
}

.cadre .mainContent .menuLinks.actived{
    right:0;
}

.menuBurgerContainer .ring.actived:not(:nth-child(4)){
    opacity: 0;

}

.menuBurgerContainer .ring.actived:nth-child(8),
.menuBurgerContainer .ring.actived:nth-child(9) {
    display: none;
}

.menuBurgerContainer .ring.actived:nth-child(4) {
    border-color: var(--third-light-color);
    width: 100%;
    transition: width .4s ease-in-out;
}


.cadre .mainContent .menuLinks .link{
    font-size: 35px;
    position: relative;
    z-index: 0;
    transition: color .4s ease-in-out;
}

.cadre .mainContent .menuLinks .link::before{
    content: "";
    position: absolute;
    left: -50px;
    top: 3px;
    width: 35px;
    height: 35px;
    background-color: var(--second-color);
    border-radius: 50px;
    z-index: -1;
    transition: width .4s ease-in-out;
}

.cadre .mainContent .menuLinks .link:hover{
    color: var(--main-color);
}

.cadre .mainContent .menuLinks .link:hover::before{
    width: calc(100% + 70px);
}

.cadre .mainContent .menuLinks .link.red:hover::before{
    background-color: var(--third-light-color);
}

.cadre .mainContent .menuLinks .link.blue:hover::before{
    background-color: var(--first-light-color);
}

.cadre .mainContent .menuLinks .link.green:hover::before{
    background-color: var(--second-light-color);
}


/* Links */

.cadre .linksContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cadre .linksContainer .link:hover{
    color: var(--main-color);
    transition: all .2s ease-in-out;
}

.cadre .linksContainer .projetLink:hover{
    background-color: var(--first-light-color);
}

.cadre .linksContainer .aboutLink:hover{
    background-color: var(--second-light-color);
}

.cadre .linksContainer .socialLinksContainer{
    display: flex;
    gap: 20px;
}

.cadre .linksContainer .socialLinksContainer .socialLink{
    width: 24px;
    fill: var(--second-color);
    transition: 
        fill .2s ease-in-out,
        transform .2s ease-in-out;
}

.cadre .linksContainer .socialLinksContainer .socialLink:hover{
    fill: var(--third-light-color);
    transform: scale(1.1);
}