body {
    animation: apparitionScale 1.5s ease-in-out forwards;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    animation: apparitionOpacity .4s ease-in-out forwards 1.5s, disparitionOpacity .4s ease-in-out forwards 2.4s;
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 4px solid var(--main-color);
    border-top-color: var(--third-light-color);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

.darkmodeActived .loading-spinner{
    border-color: var(--second-color);
    border-top-color: var(--third-dark-color);
}

.pageContent{
    animation: apparitionOpacity .4s ease-in-out forwards 2.8s;
    opacity: 0;
}

.ballsContainer {
    animation: apparitionOpacity .4s ease-in-out forwards 2.8s;
    opacity: 0;
}



@keyframes apparitionScale {
  0% {
    transform: scale(1.15);
  }
  50%{
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes apparitionOpacity {
  0% {
    opacity: 0;
    }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes disparitionOpacity {
  0% {
    opacity: 1;
    }
  100% {
    opacity: 0;
  }
}
