/* About Page - Mode Light */

.aboutPageContent .title{
    font-size: 24px;
    color: var(--second-color);
    transition: color 0.3s ease;
}

.aboutPageContent .desc{
    font-size: 14px;
    color: var(--second-color);
    transition: color 0.3s ease;
}

.aboutPageContent .subtitle{
    font-size: 18px;
    color: var(--first-light-color);
    margin-top: 20px;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.aboutPageContent .content{
    font-size: 14px;
    color: var(--second-color);
    line-height: 1.6;
    transition: color 0.3s ease;
}

.aboutPageContent .highlight{
    color: var(--third-light-color);
    font-weight: 700;
    transition: color 0.3s ease;
}
