/* Projet Page (Détail) - Mode Light */

.projetPageContent .mashup{
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.projetPageContent .mashup img{
    width: 100%;
    height: auto;
    display: block;
}

.projetPageContent .featureImg{
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.projetPageContent .featureImg img{
    width: 100%;
    height: auto;
    display: block;
}
