/* Darkmode Projets Page (Liste) */

body.darkmodeActived .projetsPageContent .projetContainer{
    background-color: var(--second-color);
    color: var(--main-color);
}

body.darkmodeActived .projetsPageContent .projetContainer:hover{
    background-color: var(--third-dark-color);
}

body.darkmodeActived .projetsPageContent .idProjet,
body.darkmodeActived .projetsPageContent .projetTitle,
body.darkmodeActived .projetsPageContent .projetDescription,
body.darkmodeActived .projetsPageContent .date{
    color: var(--main-color);
}

body.darkmodeActived .projetsPageContent .projetContainer:hover .idProjet,
body.darkmodeActived .projetsPageContent .projetContainer:hover .projetTitle,
body.darkmodeActived .projetsPageContent .projetContainer:hover .projetDescription,
body.darkmodeActived .projetsPageContent .projetContainer:hover .date{
    color: var(--main-color);
}
