/* Project Detail Page - Dark Mode */

.darkmodeActived .containerTitle .title {
    color: var(--main-color);
}

.darkmodeActived .featureName {
    color: var(--main-color);
}

.darkmodeActived .featureDesciption {
    color: var(--main-color);
}
