/* Projet Page (Détail) - Mode Dark */

.darkmodeActived .containerTitle .title {
    color: var(--main-color);
}

.darkmodeActived .infoContainer .desciption {
    background-color: var(--main-color);
    color: var(--second-color);
}

.darkmodeActived .roleContainer {
    background-color: var(--main-color);
}

.darkmodeActived .roleTitle {
    color: var(--third-dark-color);
}

.darkmodeActived .roleContent {
    color: var(--second-color);
}

.darkmodeActived .missionContainer {
    background-color: var(--main-color);
}

.darkmodeActived .missonTitle {
    color: var(--second-dark-color);
}

.darkmodeActived .missionContent {
    color: var(--second-color);
}

.darkmodeActived .urlContainer {
    background-color: var(--main-color);
}

.darkmodeActived .urlTitle {
    color: var(--first-dark-color);
}

.darkmodeActived .urlContainer .urlContent {
    color: var(--second-color);
}

.darkmodeActived .featureContainer:hover {
    background-color: var(--main-color);
}

.darkmodeActived .featureContainer:hover .featureName,
.darkmodeActived .featureContainer:hover .featureDesciption {
    color: var(--second-color);
}

.darkmodeActived .featureName {
    color: var(--main-color);
}

.darkmodeActived .featureDesciption {
    color: var(--main-color);
}
