/* Darkmode Projets Page (Liste) */

.darkmodeActived .projetContainer:nth-child(3n+1){
    border: 2px var(--second-dark-color) solid;
}

.darkmodeActived .projetContainer:nth-child(3n+2){
    border: 2px var(--first-dark-color) solid;
}

.darkmodeActived .projetContainer:nth-child(3n+3){
    border: 2px var(--third-dark-color) solid;
}

.darkmodeActived .projetsPageContent .projetList .projetContainer:hover .contentContainer .projetTitle::before,
.darkmodeActived .projetsPageContent .projetList .projetContainer.mobile-hover .contentContainer .projetTitle::before{
    background-color: var(--first-dark-color);
}
.darkmodeActived .projetsPageContent .projetList .projetContainer:hover .contentContainer .projetTitle::after,
.darkmodeActived .projetsPageContent .projetList .projetContainer.mobile-hover .contentContainer .projetTitle::after{
    background-color: var(--second-dark-color);
}
.darkmodeActived .projetsPageContent .projetList .projetContainer:hover .contentContainer .projetDescription::before,
.darkmodeActived .projetsPageContent .projetList .projetContainer.mobile-hover .contentContainer .projetDescription::before{
    background-color: var(--third-dark-color);
}
