/* Darkmode - Styles principaux */

body.darkmodeActived{
    background-color: var(--second-color);
}

body.darkmodeActived .buttonContainer .backArrow{
    stroke: #FFF9F1;
}

/* Toggle Switch */
body.darkmodeActived .switchContainer .langue{
    color: var(--main-color);
}

body.darkmodeActived .switchContainer .iconContainer{
    transform: translateX(calc(var(--toggle-height) * 1.5));
    background-color: var(--second-color);
}

/* Cadre */
body.darkmodeActived .cadre{
    border: 2px var(--main-color) solid;
}

/* Name */
body.darkmodeActived .cadre .navbar .name{
    color: var(--main-color);
}

/* Burger Menu */
body.darkmodeActived .cadre .menuBurgerContainer .ring:nth-child(1),
body.darkmodeActived .cadre .menuBurgerContainer .ring:nth-child(5),
body.darkmodeActived .cadre .menuBurgerContainer .ring:nth-child(9) {
  border-color: var(--third-dark-color);
}

body.darkmodeActived .cadre .menuBurgerContainer .ring:nth-child(2),
body.darkmodeActived .cadre .menuBurgerContainer .ring:nth-child(6),
body.darkmodeActived .cadre .menuBurgerContainer .ring:nth-child(7) {
  border-color: var(--first-dark-color);
}

body.darkmodeActived .cadre .menuBurgerContainer .ring:nth-child(3),
body.darkmodeActived .cadre .menuBurgerContainer .ring:nth-child(4),
body.darkmodeActived .cadre .menuBurgerContainer .ring:nth-child(8) {
  border-color: var(--second-dark-color);
}

body.darkmodeActived .menuBurgerContainer .ring.actived:nth-child(4){
    border-color: var(--third-dark-color);
}

/* Menu Links */
body.darkmodeActived .cadre .menuLinks{
    background-color: var(--second-color);
}

body.darkmodeActived .cadre .menuLinks .link{
    color: var(--main-color);
}

body.darkmodeActived .cadre .menuLinks .link::before{
    background-color: var(--main-color);
}

body.darkmodeActived .cadre .menuLinks .link:hover{
    color: var(--second-color);
}

body.darkmodeActived .cadre .menuLinks .link.red:hover::before{
    background-color: var(--third-dark-color);
}

body.darkmodeActived .cadre .menuLinks .link.blue:hover::before{
    background-color: var(--first-dark-color);
}

body.darkmodeActived .cadre .menuLinks .link.green:hover::before{
    background-color: var(--second-dark-color);
}

/* Social Links */
body.darkmodeActived .linksContainer .socialLink{
    fill: var(--main-color);
}

body.darkmodeActived .linksContainer .socialLink:hover{
    fill: var(--third-dark-color);
}

/* Back Home Button */
body.darkmodeActived .buttonContainer .backHome svg{
    fill: var(--main-color);
}

body.darkmodeActived .buttonContainer .backHome p{
    color: var(--main-color);
}

body.darkmodeActived .buttonContainer .backHome p::before{
    background-color: var(--main-color);
}
